body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--background-color)    
}

:root{
    --white-color-button:#FFFFFF;
    --blue-color-button:#4D5AE5;
    --black-color-text:#2E2F42;
    --white-color-text:#FFFFFF;
    --background-color:#FFFFFF;
    --logo-web-color:#4D5AE5;
    --logo-link-color:#2E2F42;
    --text-color:#434455;
    --logo-footer-web: #F4F4FD;
}

.logo-web{
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
text-decoration: none;
color: var(--logo-web-color);
}

.logo-link{
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
color: var(--logo-link-color);
}

.navigation-list{
    list-style: none;
}  

.navigation-item{    
}

.link-item{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    list-style-type: none;  
}

.link-item:hover,
.link-item:focus{
    color: #404BBF;
}

.link-item:active{
text-decoration: underline  #404BBF;
}

.address-list{
    list-style: none;
} 

.address-item {
}

.link-address-item{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.link-address-item:hover,
.link-address-item:focus{
    color: #404BBF;
    text-decoration:none    
}

.main-button{
    cursor: pointer;
    height: 48px;
    width: 116px;
    left: 93px;
    border-radius: 4px;
    background-color: #404BBF; 
}

.main-button-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color-button);;
}

.button-service{
    background: #4D5AE5;
    border: 0px;
}
    
.button-service:hover,
.button-service:focus{
    background: #404BBF;
}
    
.button-service-text{
        color: var(--white-color-button);
}
    

.list-button-item{
    list-style-type: none;
}

.button-item {
cursor: pointer;
height: 48px;
width: 116px;
left: 93px;
border-radius: 4px;
background-color: #F4F4FD;
}

.button-text{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: var(--blue-color-button);
}

.main-button:hover,
.main-button:focus{
background: #404BBF;
}

.button-item:hover,
.button-item:focus{ 
background-color: #404BBF;
}

.section{
    background: #2E2F42;
}

.second-section{
    list-style: none;
}

.main-text{
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    color:var(--white-color-text);
}

.title-text{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text{
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.name-text{
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}   

.list-images{
    list-style-type: none; 
}

.images-item{
    list-style-type: none; 
    width: 360px;
    height: 420px;
    border: 1px solid #E7E9FC;
}

.images-team{
    width: 264px;
    height: 380px;
    background: #FFFFFF;
    list-style-type: none; 
}

.project-title{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--black-color-text);
}

.project-text{
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: var(--black-color-text);
}

.human-name-text{
    text-align: center;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--black-color-text);
}

.profession-text{
    text-align: center;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;    
    color: var(--black-color-text);
}

.footer{
    width: auto;
    background: #2E2F42;
}

.logo-footer-link{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--logo-footer-web);
}

.logo-footer-web{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-web-color);
}

.footer-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color-text);
}

.footer-box{
    width: 264px;
    height: 72px;
}