body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--background-color)    
}

:root{
    --white-color-button:#FFFFFF;
    --blue-color-button:#4D5AE5;
    --black-color-text:#2E2F42;
    --white-color-text:#FFFFFF;
    --background-color:#FFFFFF;
    --logo-web-color:#4D5AE5;
    --logo-link-color:#2E2F42;
    --text-color:#434455;
    --logo-footer-web: #F4F4FD;
    --button-service-color:#4D5AE5;
    --link-focus:#404BBF;
}

.logo-web{
color: var(--logo-web-color);
}

.logo-link{
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
color: var(--logo-link-color);
}

.navigation-list{
    list-style: none;
}  

.navigation-item{    
}

.link-navigation-item{
    text-decoration: none;
    color: var(--black-color-text);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-navigation-item:hover,
.link-navigation-item:focus{
    color: var(--link-focus);
}

.link-item:active{
text-decoration: underline  #404BBF;
}

.address-list{
    list-style: none;
} 

.address-item {
}

.link-address-item{
    text-decoration: none;
    color: var(--black-color-text);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-address-item:hover,
.link-address-item:focus{
    color: var(--link-focus);
    text-decoration:none    
}

.button-service{
    background: var(--button-service-color) ;
    border: 0px;
}
    
.button-service:hover,
.button-service:focus{
    background: #404BBF;
}
    
.button-service-text{
        color: var(--white-color-button);
}
    

.list-button-item{
    list-style-type: none;
}

.button-item {
cursor: pointer;
height: 48px;
width: 116px;
left: 93px;
border-radius: 4px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
background-color: #F4F4FD;
color: var(--blue-color-button);
}

.button-item:hover,
.button-item:focus{ 
background-color: #404BBF;
color: var(--white-color-text);
}

.section{
    background: #2E2F42;
}

.second-section{
    list-style: none;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--white-color-text);
}

.features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}   

.list-images{
    list-style-type: none; 
}

.images-item{
    list-style-type: none; 
    width: 360px;
    height: 420px;
    border: 1px solid #E7E9FC;
}

.images-team{
    width: 264px;
    height: 380px;
    background: #FFFFFF;
    list-style-type: none; 
}

.project-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--black-color-text);
}

.project-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--black-color-text);
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--black-color-text);
}

.team-profession{
    letter-spacing: 0.02em;
    line-height: 1.5;    
    color: var(--black-color-text);
}

.footer{
    background: #2E2F42;
}

.logo-footer-link{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--logo-footer-web);
}
.logo-footer-web{
    color: var(--logo-web-color);
}

.footer-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color-text);
}

.footer-box{
    width: 264px;
}